<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoPED.Properties.Settings.DonBosco_PEDConnectionString"
            connectionString="Data Source=DMDUDB;Initial Catalog=DonBosco_PED;User ID=AdministradorDBA;Password=2021#ADMINUDB@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DataSource" value="DMDUDB" />
    <add key="InitialCatalog" value="DonBosco_PED" />
    <add key="PersistSecurityInfo" value="true" />
    <add key="UserID" value="AdministradorDBA" />
    <add key="Password" value="2021#ADMINUDB@" />
    <add key="MultipleActiveResultSets" value="true" />
    <add key="Pooling" value="true" />
  </appSettings>
</configuration>